<template name="sidebar">
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left info">
                    <p>{{currentUser.profile.fullname}}</p>
                    <a href="#" class="logout"><i class="fa fa-circle text-success"></i> Logout</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li >
                    <a href="{{pathFor 'testPage'}}">
                        <div class="sidebar-item">
                            <i class="fa fa-file-code-o"></i>
                            <div class="some">Tests</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebar-item">
                            <i class="fa fa-question"></i>
                            <div class="some">Questions</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebar-item">
                            <i class="fa fa-bar-chart"></i>
                            <div class="some">Reports</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebar-item">
                            <i class="fa fa-cogs"></i>
                            <div class="some">Settings</div>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
</template>
